/* File from https://github.com/arcuri82/web_development_and_api_design/blob/master/exercise-solutions/quiz-game/part-07/public/style.css */

.container {
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
}

.main-content {
    display: flex;
    flex-direction: column;
    min-width: 50%;
    max-width: 50rem;
    justify-content: center;
    margin: 0 auto;
}

.header {
    display: flex;
    padding: 1rem 4rem;
    flex-direction: row;
    justify-content: space-between;
  }
  
/*Usually in the left corner there is a logo that is linked home. So we make on with css.*/
.header-logo {
    font-family: "Times New Roman", Times, serif;
    font-size: 3rem;
    text-decoration: none;
    background: -webkit-linear-gradient(#eee, #333);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    width: 310px;
}
  
.header-text {
    align-self: center;
    font-size: large;
}
.header-button {
    background-color: #ebe9e4;
    color: #000000;
    padding: 1rem;
    border: 1px solid #787774;
    border-radius: 5px;
    margin: 1rem 1rem 0 1rem;
    height: 3rem;
}
.header-button:focus,
.header-button:hover {
    background-color: #2d1ed6;
    color: #ebe9e4;
}
  
.action-buttons {
    margin-top: 2rem;
    height: 3rem;
}

.action {
    padding-top: .5rem 0;
    height: 3rem;
    margin-top: 1rem;
}

.heading {
    margin: 2rem 0;
}
  

.welcome-text {
    font-size: 1.5em;
    padding-bottom: 1rem;
}

.indexContainer {
    display: flex;
    flex-wrap: wrap;

    justify-content: center;
}

.play {
    background-color: #ebe9e4;
    color: #000000;
    padding: 1rem;
    border: 1px solid #787774;
    border-radius: 5px;
    margin: 2rem;
}
    .play:focus,
    .play:hover{
    background-color: #2d1ed6;
    color: #ebe9e4;
    /*
    The focus selector is important for universal design.
    Especially for users navigating with keyboard. Sadly it is often forgotten
    and a lot of designers request frontend developers to remove the browsers default focus,
    without adding a custom one. This should not be done!
    If you do this you make it very hard for a keyboard user to navigate.
    The least you can do is to leave the Default browser style and then add the same style as on hover.
    Read more: https://www.deque.com/blog/give-site-focus-tips-designing-usable-focus-indicators/
    */
}

.pokeContainer{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
}

.pokemon{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 220px;
    border: 1px solid #787774;
    border-radius: 15%;
    padding: 10px;
    margin: 5px;
}

.pokemonFields {
    font-size: 1.5em;
    font-weight: bold;
}

.center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }